//::::::::::::::::::::::::::::::::CSS GENERAL:::::::::::::::::::::::::::::::://

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #f4c8c8;
  font-family: "Oswald", sans-serif;
}
.content {
  margin-top: 8vh;
}
//:::::::::::::::::::::::::::::::: MENU :::::::::::::::::::::::::::::::://

.menu--list {
  height: 8vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.menu__link {
  text-decoration: none;
  color: purple;
}
@media screen and (min-width: 813px) {
  .menu--list {
    box-shadow: 0vh 1vh 6px #555;
  }
}
//:::::::::::::::::::::::::::::::: SECTION 1 : PRESENTATION :::::::::::::::::::::::::::::::://
.presentation--tagline {
  font-size: 3em;
  color: grey;
  text-align: center;
  margin-bottom: 2vh;
}
.presentation--illustration {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.presentation--survey {
  background-color: #b0f2ec;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.presentation--survey--answer {
  font-size: 3em;
  color: grey;
  padding-bottom: 2vh;
}
.presentation--survey--complete {
  font-size: 1.2em;
  padding-bottom: 4vh;
  color: grey;
}
.presentation--offer {
  text-align: center;
  padding-top: 3vh;
}
.presentation--offer--product {
  display: block;
  font-size: 5em;
  padding-bottom: 2vh;
  animation-duration: 0.8s;
  animation-name: flash;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes flash {
  0% {
    opacity: 1;
    color: #b0f2ec;
  }
  40% {
    opacity: 0;
    color: red;
  }
  100% {
    opacity: 1;
    color: black;
  }
}
.presentation--offer__claim {
  font-size: 1.2em;
  padding-bottom: 2vh;
}
.presentation--offer--price {
  display: block;
  font-size: 3em;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.presentation--offer__illu {
  width: 50%;
}
@media screen and (min-width: 813px) {
  .presentation--offer {
    font-size: 2em;
  }
  .presentation--offer--price {
    font-size: 3em;
  }
}

//:::::::::::::::::::::::::::::::: SECTION 2 : AVANTAGES :::::::::::::::::::::::::::::::://
.advantages {
  background-color: #2a2626;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.advantages--tagline {
  font-size: 2em;
  color: red;
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 2vh;
  grid-column: 1 / span 3;
}
.advantage,
.doubt {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 1vw;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.advantage__tagline {
  font-size: 1.5em;
  padding-bottom: 2vh;
  text-align: center;
}

.advantage:nth-child(even) {
  background-color: #b0f2ec;
  grid-column: 1 / span 2;
}
.advantage:nth-child(odd) {
  background-color: #f4c8c8;
  grid-column: 2 / span 2;
}
@media screen and (min-width: 813px) {
  .advantages {
    padding-bottom: 3vh;
    grid-template-columns: repeat(3, 33%);
  }
  .advantages--tagline {
    padding-bottom: 3vh;
    padding-top: 3vh;
  }
  .advantage,
  .doubt {
    width: 90%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 45vh;
    text-align: center;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .advantage__tagline {
    font-size: 1.8em;
    // padding-bottom: 2vh;
  }
  .advantage:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    margin-left: 5%;
  }
  .advantage:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
  .advantage:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
    margin-left: 5%;
  }
}

//:::::::::::::::::::::::::::::::: SECTION 3 : DOUTES :::::::::::::::::::::::::::::::://
.doubts {
  background-color: #f4c8c8;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.doubts--tagline {
  font-size: 3em;
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 2vh;
  grid-column: 1 / span 3;
}

.doubts--tagline span {
  color: red;
}

.doubts__explanation {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 2vh;
  grid-column: 1 / span 3;
}
.doubt {
  text-align: center;
}
.doubt__tagline {
  font-size: 1.5em;
  padding-bottom: 2vh;
  text-align: center;
}
.doubt:nth-child(even) {
  background-color: #b0f2ec;
  grid-column: 1 / span 2;
}

.doubt:nth-child(odd) {
  background-color: #2a2626;
  color: #b0f2ec;
  grid-column: 2 / span 2;
}

@media screen and (min-width: 813px) {
  .doubts {
    display: grid;
    padding-bottom: 3vh;
    grid-template-columns: repeat(3, 33%);
  }
  .doubts--tagline {
    grid-column: 1 / span 3;
    padding-bottom: 3vh;
    padding-top: 3vh;
  }
  .doubt__tagline {
    font-size: 1.8em;
    padding-bottom: 2vh;
  }
  .doubts__explanation {
    grid-column: 1 / span 3;
    padding-bottom: 3vh;
    padding-top: 3vh;
    grid-row: 2;
  }

  .doubt:nth-child(5) {
    grid-column: 3;
    grid-row: 3;
    margin-left: 5%;
  }
  .doubt:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }
  .doubt:nth-child(4) {
    grid-column: 2;
    grid-row: 3;
    margin-left: 5%;
  }
}
//:::::::::::::::::::::::::::::::: SECTION 4 : EXHORT ET TEMOIGNAGES  :::::::::::::::::::::::::::::::://
.exhort {
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 3em;
  text-align: center;
}
.exhort__emphasize {
  color: purple;
}
.witness--title {
  text-align: center;
  font-size: 1.4em;
  font-style: italic;
}
.witness {
  border-bottom: 1px solid black;
  padding-bottom: 2vh;
  padding-top: 1vh;
  padding-left: 1vw;
}
.witness__name {
  font-size: 1.5em;
  color: #2a2626;
  text-shadow: 0 0 3px purple;
}
@media screen and (min-width: 813px) {
  .presentation--tagline {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 4em;
  }
  .presentation--md {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .presentation--illustration {
    display: inline-block;
    width: 100%;
  }
  .presentation--survey {
    display: inline-block;
    height: 100%;
    padding: 0;
    padding-top: 20%;
  }
}
