// @import 'reset';
// @import 'presentation';

// RESET CSS
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// NOUVEAU CSS

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #f4c8c8;
  font-family: "Oswald", sans-serif;
}

.menu--list {
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
.menu__link {
  text-decoration: none;
  color: purple;
}
.content {
  margin-top: 8vh;
}
.presentation--tagline {
  font-size: 3em;
  color: grey;
  text-align: center;
  margin-bottom: 2vh;
}
.presentation--illustration {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.presentation--survey {
  background-color: #b0f2ec;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.presentation--survey--answer {
  font-size: 3em;
  color: grey;
  padding-bottom: 2vh;
}
.presentation--survey--complete {
  font-size: 1.2em;
  padding-bottom: 4vh;
  color: grey;
}
.presentation--offer {
  text-align: center;
  padding-top: 3vh;
}
.presentation--offer--product {
  display: block;
  font-size: 5em;
  padding-bottom: 2vh;
  animation-duration: 0.8s;
  animation-name: flash;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.presentation--offer__claim {
  font-size: 1.2em;
  padding-bottom: 2vh;
}
.presentation--offer--price {
  display: block;
  font-size: 3em;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.presentation--offer__illu {
  width: 50%;
}
.advantages {
  background-color: #2a2626;
}
.advantages--tagline {
  font-size: 2em;
  color: red;
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 2vh;
}
.advantage {
  width: 75%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 1vw;
}
.advantage:nth-child(even) {
  background-color: #b0f2ec;
  margin-left: 25%;
}
.advantage:nth-child(odd) {
  background-color: #f4c8c8;
}
.doubts--tagline {
  font-size: 3em;
  color: gery;
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 2vh;
}

.doubts--tagline span {
  color: red;
}

.doubts__explanation {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 2vh;
}
.doubt {
  width: 75%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 1vw;
}
.doubt:nth-child(even) {
  background-color: #b0f2ec;
  margin-left: 25%;
}
.doubt:nth-child(odd) {
  background-color: #2a2626;
  color: #b0f2ec;
}
.exhort {
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 3em;
  text-align: center;
}
.exhort__emphasize {
  color: purple;
}
.witness--title {
  text-align: center;
  font-size: 1.4em;
  font-style: italic;
}
.witness {
  border-bottom: 1px solid black;
  padding-bottom: 2vh;
  padding-top: 1vh;
  padding-left: 1vw;
}
.witness__name {
  font-size: 1.5em;
  color: #b0f2ec;
  text-shadow: 0 0 3px purple;
}
@media screen and (min-width: 813px) {
  .presentation--tagline {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 4em;
  }
  .presentation--md {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .presentation--illustration {
    display: inline-block;
    width: 100%;
  }
  .presentation--survey {
    display: inline-block;
    height: 100%;
    padding: 0;
    padding-top: 20%;
  }
}
